header {
    height: 80px;
    background-color:#3333ff;
    padding-top: 30px;
    text-align: center;
    text-size-adjust: 50%;

}

nav {
    height: 63px;
    background-color: #3399ff;
}

.nav-right { 
    float: right;
}

float

footer {
    height: 80px;
    bottom: fixed;
}

.fa-brands {
    font-size: 60px;
    margin: 10px;
}

