@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background:-moz-linear-gradient ( rgba(181, 108, 230,1) 60%
    rgba(104, 104, 243,1) 100%); 
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

h3 {
    text-align: left;
}





header {
    height: 80px;
    background-color:#3333ff;
    padding-top: 30px;
    text-align: center;
    text-size-adjust: 50%;

}

nav {
    height: 63px;
    background-color: #3399ff;
}

a {
    text-decoration: none;
}

ul {
    float: right;
}

.nav-right {
    display: inline-block;
    padding: 10px;
}

nav::after {
    clear:both;
}

footer {
    height: 80px;
    text-align: center;
    margin-top: 10px;
}

.fa-brands {
    font-size: 100px;
    margin: 10px;
}

a img {
    height: 60px;
    width: 80px;
    float:left;
}

