@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background:-moz-linear-gradient ( rgba(181, 108, 230,1) 40%
    rgba(104, 104, 243,1) 60%); 
}

h1 {
    text-align: center;
    padding-bottom: 8px;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
}

li {
    font-family: 'Roboto, serif;
}

header {
    height: 100px;
    background-color:#3333ff;
    padding-top: 5px;
    text-align: center;
    font-size: 200%;
    border: solid, 2px;
    border-color: #04AA6D;
    border-radius: 4px;
}

nav {
    height: 60px;
    background-color: #3399ff;
}
 
.float-left {
    float: left;
}

#section-article_column {
    width: 35%;
}

#aside_column {
    width: 60%;
}

.clearfix {
    clear:both;
}

a {
    text-decoration: none;
    font-size: 50%;
}

ul {
    float: right;
}

.nav-right {
    display: inline-block;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

nav::after {
    clear:both;
} 

input, select, textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
    resize: vertical;
  }
  
.textbox {
    height: 60px;
}
.form-button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-button:hover {
    background-color: rgb(56, 13, 97);
}
.container {
    width: 380px;
    border-radius: 5px;
    background-color: #ebdcdc;
    padding: 30px;
    height: 300px;
}

footer {
    height: 80px;
    text-align: center;
    margin-top: 10px;
}

.fa-brands {
    font-size: 60px;
    margin: 10px;
}

a img {
    height: 60px;
    width: 120px;
    float:left;
} 

section, article {
    height: 200px;
}

aside {
    height: 400px;

}

aside img {
    height:100%;
    width: 100%;
}

input, select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(27, 113, 134);
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
    resize: vertical;
  }
  
.textbox {
    height: 60px;
}
.form-button {
    background-color: #414aca;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-button:hover {
    background-color: #3399ff;
}
.container {
    width: 400px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    height: 300px;
}

.div-a {
    float: right;
}

.nav-right {
    display: inline-block;
}

#section-article_column {
    width: 30%;
}

#aside_column {
    width: 69%;
}

.hero {
    width: 100%;
    height: 450px;
}

